@import url('https://fonts.googleapis.com/css?family|Open+Sans:300,400&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import "variables.scss";

a {
    text-decoration: none;
    letter-spacing: 1px;
}

.btn {
    cursor: pointer;
    border-radius: 5px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;

    a {
        font-size: 25px;
        font-weight: 300;
    }
}

.contaner {
    margin: 0 auto;
    max-width: 1565px;
    min-width: 320px;
    font-family: $general-font-family;

    .header-contaner {
        width: 100%;
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr 2fr;

        &-bar {
            display: none;
        }

        &-logo {
            display: flex;
            align-items: center;

            a {
                font-family: $night-logo-font;
                font-size: 40px;
                margin-left: 25px;
            }
        }

        &-nav {
            display: flex;
            justify-content: end;

            .menu {
                list-style-type: none;
                display: flex;

                li {
                    a {
                        margin-right: 25px;

                        &:hover {
                            transition: .3s;
                        }
                    }
                }
            }
        }
    }

    .main-contaner {
        width: 100%;

        &-banner {
            display: grid;
            grid-template-columns: 12fr;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 675px;
            justify-content: center;
            align-items: center;
            text-shadow: 0px 4px 4px $box-shadow-color;

            .banner-text {
                p {
                    text-align: center;

                    &:first-child {
                        font-size: 85px;
                    }

                    &:last-child {
                        font-size: 50px;
                    }
                }
            }
        }

        &-advantages {
            min-height: 600px;
            background-blend-mode: color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                margin-bottom: 5px;
                text-align: center;
            }

            .advantages-header {
                margin: 0 0 25px 0;

                .header {
                    font-size: 35px;
                }
            }

            .advantages {
                width: 100%;
                margin-bottom: 25px;
                display: flex;
                justify-items: center;
                justify-content: space-around;

                .advantage {
                    display: grid;
                    align-content: flex-start;
                    max-width: 30%;

                    i {
                        font-size: 60px;
                    }

                    .name {
                        font-size: 40px;
                    }

                    .description {
                        font-size: 20px;
                    }
                }
            }

            .advantages-about {
                margin-bottom: 35px;
            }

            .travel-choice {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;

                &-header {
                    .header {
                        font-size: 40px;
                    }
                }

                &-description {
                    .description {
                        font-size: 30px;
                    }
                }
            }
        }

        &-hot{
            display: grid;
            grid-template-columns: 5fr 6fr;
            align-items: start;
            padding: 15px 0;
            .content-img-text{
                position: absolute;
                font-size: 30px;
                background-color: rgba($color:#fff, $alpha: 0.2);
                width: 100%;
                text-shadow: 0px 4px 4px $box-shadow-color;
                text-align: center;
            }
            .hot-content-img{
                display: flex;
                align-items: flex-end;
                position: relative;
            }
            .hot-img{
                display: flex;
                justify-content: center;
                align-content: center;
            }
            .hot-content{
                display: grid;
                grid-template-areas: "header ."
                "first second";
                justify-content: space-evenly;
                align-content: center;
                .hot-content-header{
                    text-transform: uppercase;
                    font-size: 36px;
                    font-weight: 300;
                    width: 260px;
                    border-top: 3px solid #000;
                    border-bottom: 3px solid #000;
                    padding: 10px 0;
                    grid-area: header;
                    align-self: start;
                    margin-bottom: 0.65em;
                }
                .hot-content-first{
                    grid-area: first;
                }
                .hot-content-second{
                    grid-area: second;
                }
            }
        }
    }
}