@import url('https://fonts.googleapis.com/css?family=Nova+Cut|Open+Sans:300,400&display=swap');
@import "variables.scss";

body {
    background-color: $night-back-color;
}


.night {
    color: #fff;

    .header-contaner {
        background-color: $night-back-color;
        &-logo{
            a{
            font-family: $night-logo-font;}
        }
        a {
            color: #fff;

            &:hover {
                color: $night-hover-color;
            }
        }
    }

    .main-contaner {
        background: $night-advantages-img, $night-back-op-color;
        background-blend-mode: color;
        background-size: cover;
        background-position-x: center;

        &-banner {
            background: $night-main-img;

            .banner-text {
                background-color: $night-img-offset-color;

                p:first-child {
                    font-family: $night-logo-font;
                }
            }
        }

        &-burger{
            background-color: $night-back-color;
        }

        &-advantages {

            .description {
                font-weight: 300;
                color: $night-hover-color;
            }
        }

        &-hot {
            &-first {
                background: $night-hot-content-first-img;
            }

            &-second {
                background: $night-hot-content-second-img;
            }

            &-third {
                background: $night-hot-content-third-img;
            }

            &-fourth {
                background: $night-hot-content-fourth-img;
            }

            &-fifth {
                background: $night-hot-content-fifth-img;
            }

            .hot-header-description{
                color: $night-hover-color;
            }
        }

        &-test{
            background-color: $night-back-color;
        }
    }

    .footer-contaner{
        background-color: #000;
        p{
            color: $night-hover-color;
        }
    }
}