/*----------general variables----------*/
$general-font-family: 'Open Sans', sans-serif;
$box-shadow-color: rgba(0, 0, 0, 0.25);

/*----------day theme----------*/

/*colors*/
$day-back-color: #64A2AD;
$day-back-op-color: rgba(255,255,255, 0.3);
$day-hover-color: rgb(230, 223, 208);
$day-img-offset-color:  rgba(108, 174, 185, 0.4);
$day-button-hover-color: $day-img-offset-color;
$day-footer-back-color: #121810;
$day-font-color: #d3eceb;
/*fonts*/
$day-logo-font:'Chilanka', cursive;

/*resources*/
$day-main-img: url("../img/day/utro1.jpg");
$day-advantages-img: url("/img/day/palma.png");
$day-hot-content-img: url("../img/night/hot-content-img.jpg");
$day-hot-content-first-img: url(/img/day/first.jpg);
$day-hot-content-second-img: url(/img/day/second.jpg);
$day-hot-content-third-img: url(/img/day/third.jpg);
$day-hot-content-fourth-img: url(/img/day/fourth.jpg);
$day-hot-content-fifth-img: url(/img/day/fifth.jpg);

/*----------night theme----------*/

/*colors*/
$night-back-color: #2F3C16;
$night-back-op-color:  rgba(40,60,22,0.8);
$night-hover-color: rgb(226, 241, 212);
$night-img-offset-color:  rgba(166,175,161,0.45);
$nigth-button-hover-color:  rgba(57, 80, 36, 0.3);
$night-footer-back-color: #121810;
/*fonts*/
$night-logo-font: 'Nova Cut', cursive;

/*resources*/
$night-main-img: url("../img/night/utro.jpg");
$night-advantages-img: url("../img/night/elky.png");
$night-hot-content-img: url("../img/night/hot-content-img.jpg");
$night-hot-content-first-img: url(/img/night/first.jpg);
$night-hot-content-second-img: url(/img/night/second.jpg);
$night-hot-content-third-img: url(/img/night/third.jpg);
$night-hot-content-fourth-img: url(/img/night/fourth.jpg);
$night-hot-content-fifth-img: url(/img/night/fifth.jpg);